.DS_Store
/serie1/out/
/serie2/out/
/serie3/out/
/serie4/out/
/serie5/out/
/serie6/out/
/serie7/out/
/serie8/out/
/serie1/.idea/
/serie2/.idea/
/serie3/.idea/
/serie4/.idea/
/serie5/.idea/
/serie6/.idea/
/serie7/.idea/
/serie8/.idea/